<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplo 10 - Plantillas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
</head>
<body>
    <script>
        const VistaSelector = Backbone.View.extend({
            template: _.template(`
                <select>
                    <% for (let i = 1; i <= 10; i++) { %>
                        <option>Opción <%= i %></option>
                    <% } %>
                </select>
            `),
            initialize() {
                this.$el.appendTo(document.body);
                this.render();
            },
            render() {
                this.$el.html(this.template());
            }
        });

        const selector1 = new VistaSelector();
    </script>
</body>
</html>