<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesión 3 - Ejercicio 1 - Colecciones</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
</head>
<body>
    <script>
        const Canasta = Backbone.Collection.extend();

        const Fruta = Backbone.Model.extend({
            defaults: {
                nombre: "Manzana"
            }
        });

        const VistaCanasta = Backbone.View.extend({
            template: _.template(`
                <ul>
                    <% for (let fruta of frutas) { %>
                        <li id="<%= fruta.cid %>" > <%= fruta.get("nombre") %> </li>
                    <% } %>
                </ul>
            `),
            events: {
                "click li": "seleccionarFruta"
            },
            initialize() {
                this.listenTo(this.collection, "update", this.render);
                this.render();
            },
            render() {
                this.$el.html(this.template({
                    frutas: this.collection.toArray()
                }));
            },
            seleccionarFruta(event) {
                const li = event.target;
                const cid = li.id;
                const fruta = this.collection.find(fruta => fruta.cid === cid);
                console.log("Se selección la fruta", fruta.get("nombre"));
                this.model.set(fruta.toJSON()); // this.model es el modelo de selección (frutaSeleccionada)
            }
        });

        const VistaCanastaAgregarFruta = Backbone.View.extend({
            template: _.template(`
                <input placeholder="Nombre de la fruta">
                <button>Agregar Fruta</button>
            `),
            events: {
                "keyup input": "escribirFruta",
                "click button": "agregarFruta"
            },
            initialize() {
                this.render();
            },
            render() {
                this.$el.html(this.template());
            },
            escribirFruta(event) {
                if (event.key === "Enter") {
                    this.agregarFruta();
                }
            },
            agregarFruta() {
                this.collection.add(new Fruta({
                    nombre: this.$("input").val()
                }));
            }
        });

        const VistaCanastaFrutaSeleccionada = Backbone.View.extend({
            template: _.template(`
                <p>Fruta Seleccionada</p>
                <p> <%= nombre %> </p>
            `),
            initialize() {
                this.listenTo(this.model, "change:nombre", this.render);
                this.render();
            },
            render() {
                this.$el.html(this.template(this.model.toJSON()));
            }
        });

        const canasta = new Canasta();

        canasta.add(new Fruta({ nombre: "Manzana" }));
        canasta.add(new Fruta({ nombre: "Pera" }));
        canasta.add(new Fruta({ nombre: "Mango" }));

        const frutaSeleccionada = new Fruta();

        const vistaCanasta = new VistaCanasta({
            model: frutaSeleccionada,
            collection: canasta
        });
        
        const vistaCanastaAgregarFruta = new VistaCanastaAgregarFruta({
            collection: canasta
        });

        const vistaCanastaFrutaSeleccionada = new VistaCanastaFrutaSeleccionada({
            model: frutaSeleccionada
        });

        document.body.append(vistaCanastaAgregarFruta.el);
        document.body.append(vistaCanasta.el);
        document.body.append(vistaCanastaFrutaSeleccionada.el);

        // alert(canasta.some(function (fruta) {
        //     const nombre = fruta.get("nombre");
        //     return nombre === "Kiwi";
        // }));
    </script>
</body>
</html>