<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesión 5 - Ejercicio 4</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
</head>
<body>
    <script>
        // 1. TODO: Crear una colección llamada Cupcakes con la siguiente configuración:
            // url: "http://10.0.18.33:3000/api/cupcakes"
            // * const Cupcakes = Backbone.Collection.extend( { url: "..." } )
        // 2. TODO: Crear una instancia a la colección llamada listaCupcakes
            // * const listaCupcakes = new Cupcakes()
        // 3. TODO: Crear una vista llama ListaCupcakes con la vista adecuada para mostrar los cupcakes
            // * template: _.template(`
            //              <ul>
            //                  <% for (let cupcake of cupcakes) { %>
            //                      <li>
            //                          <%= cupcake.get("nombre") %> 
            //                          ($<%= cupcake.get("precio").toFixed(2) %>)
            //                      </li>
            //                  <% } %>
            //              </ul>
            //          `)
        // 4. TODO: Agregar a la vista ListaCupcakes el método _initialize_
            // que escuche los eventos de la colección asociada y mande a llamar a render
            // * this.listenTo( this.collection, "update", this.render )
            // También montar la vista sobre `body`
            // * document.body.appendChild( this.el )
        // 5. TODO: Agregar el método _render_ que mande a pintar la lista de cupcakes
            // extraídos desde la colección asociadas con la plantilla bien configurada
            // * this.$el.html( this.template( { cupcakes: this.collection.toArray() } ) )
        // 6. TODO: Crear una instancia de la vista llamada listaCupcakesVista que esté enlazada
            // a la colección instanciada listaCupcakes del TODO(2)
            // * const listaCupcakes = new ListaCupcakes({ collection: listaCupcakes })
        // 7. TODO: Hacerle un fetch a la colección instanciada listaCupcakes del TODO(2)
            // * listaCupcakes.fetch()

        // 1.
        const Cupcakes = Backbone.Collection.extend({
            url: "http://10.0.18.33:3000/api/cupcakes"
        });

        // 2.
        const listaCupcakes = new Cupcakes();

        // 3.
        const ListaCupcakesVista = Backbone.View.extend({
            template: _.template(`
                <ul>
                    <% for (let cupcake of cupcakes) { %>
                        <li>
                            <%= cupcake.get("nombre") %> 
                            ($<%= cupcake.get("precio").toFixed(2) %>)
                        </li>
                    <% } %>
                </ul>
            `),
            // 4.
            initialize() {
                this.listenTo(this.collection, "update", this.render);
                document.body.appendChild(this.el);
            },
            // 5.
            render() {
                this.$el.html( this.template({
                    cupcakes: this.collection.toArray()
                }));
            }
        });

        // 6.
        const listaCupcakesVista = new ListaCupcakesVista({
            collection: listaCupcakes
        });

        // 7.
        listaCupcakes.fetch();

        // 8. TODO: Crear el modelo Cupcake sobre la misma url, pero usando `urlRoot`
            // utilzar como id el atributo `_id` mediante `idAttribute`
            // * const Cupcake = Backbone.Model.extend({ urlRoot: "...", idAttribute: "_id" })
        // 9. TODO: Crear la vista AgregarCupcakeVista con la plantilla necesaria para lograrlo
            // * template: _.template(`
            //     <input name="nombre" placeholder="Nombre">
            //     <input name="precio" type="number" placeholder="Precio">
            //     <button>Agregar</button>
            // `)
        // 10. TODO: Agregar el método _initialize_ y _render_ para mostrar la plantilla
        // 11. TODO: Agregar el evento click para controlar al botón y mandar a llamar al método agregar
            // * events: { "click button": "agregar" }
        // 12. TODO: Agregar el método _agregar_ y dentro de él recuperar los valores de los inputs
            // * const nombre = this.$("[name='nombre']").val()
            // * const precio = this.$("[name='precio']").val()
        // 13. TODO: En el método _agregar_ ajustar los atributos `nombre` y `precio` en el modelo asociado
            // * this.model({ "nombre", "precio" })
        // 14. TODO: Crear una instancia del modelo Cupcake llamado cupcakeTemporal para asociarlo a la vista
            // * const cupcakeTemporal = new Cupcake()
        // 15. TODO: Crear una instancia de la vista AgregarCupcakeVista como agregarCupcakeVista
            // y asociar el modelo cupcakeTemporal
            // * const agregarCupcakeVista = new AgregarCupcakeVista({ model: cupcakeTemporal })
        // 16. TODO: Escuchar el evento `change` de cupcakeTemporal mediante el método _on_
            // y guardar el modelo.
            // cupcakeTemporal.on("change", () => { cupcakeTemporal.save(); })
        // 17. TODO: Del método _on_ del TODO(16) añadir el método _clear_ para borrar el cupcake
            // * { cupcakeTemporal.save(); cupcakeTemporal.clear() }
        // 18. TODO: En la vista AgregarCupcakeVista del TODO(9) en el método _initialize_ escuchar al modelo
            // cupcakeTemporal para reiniciar la vista con _render_
            // * this.listenTo(this.model, "change", this.render)
        // 19. TODO: Si lo desea puede agregar en el callback del TODO(16) un fetch a la collección como TODO(7)

        const Cupcake = Backbone.Model.extend({
            urlRoot: "http://10.0.18.33:3000/api/cupcakes",
            idAttribute: "_id"
        });

        const AgregarCupcakeVista = Backbone.View.extend({
            template: _.template(`
                <input name="nombre" placeholder="Nombre">
                <input name="precio" type="number" placeholder="Precio">
                <button>Agregar</button>
            `),
            events: {
                "click button": "agregar"
            },
            initialize() {
                this.listenTo(this.model, "change", this.render);
                document.body.appendChild(this.el);
                this.render();
            },
            render() {
                this.$el.html( this.template());
            },
            async agregar() {
                const nombre = this.$("[name='nombre']").val();
                const precio = Number(this.$("[name='precio']").val());
                await this.model.set({
                    nombre,
                    precio
                });
                console.log(this.model.toJSON());
                await cupcakeTemporal.save();
                cupcakeTemporal.clear();
            }
        });

        const cupcakeTemporal = new Cupcake();

        const agregarCupcakeVista = new AgregarCupcakeVista({
            model: cupcakeTemporal
        });

        cupcakeTemporal.on("change", () => {
            listaCupcakes.fetch();
        });
    </script>
</body>
</html>